<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Motos Para Todos</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <script src="{% static 'styles/main.js' %}" defer></script>
  
  <!-- SCRIPT BUSCADOR -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- SCRIPT NAVBAR -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- ESTILOS FOOTER -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <!-- ESTILOS NAVBAR -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <!-- ESTILOS NUESTROS -->
  <link type="text/css" rel="stylesheet" href="{% static 'styles/main.css' %}" />
  

  {% block extrahead %}
  {% endblock %}
</head>

<body>
  <nav class="navbar">
    <div class="lateral">
    </div>
    <div class="navbar container">
      <a href="{% url 'initial' %}"><img src="{% static 'images/icon.png' %}" alt="logo" width="90" height="90"></a>
      <div class="container-fluid">
        <form method="get" action="{% url 'search' %}">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <div class="input-group">
                <div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Todos</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-value="motorcycles">Motocicletas</a></li>
                    <li><a href="#" data-value="parts">Partes</a></li>
                    <li><a href="#" data-value="manufacturers">Fabricantes</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-value="price">Precio</a></li>
                    <li><a href="#" data-value="score">Valoración</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-value="all">Todos</a></li>
                  </ul>
                </div>
                <input type="hidden" name="search_type" value="all" id="search_type">
                <input type="text" class="form-control" name="query" placeholder="Buscar productos">

                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span
                      class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </div>
          <div class="row2" style="display: none; justify-content: center; gap: 10px; padding-top: 10px;">
            <div class="form-group">
              <input type="number" step="0.01" class="form-control" id="min_price" name="min_price" placeholder="Min" oninput="validateQuantity(this)">
            </div>
            <svg width="20px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 12L18 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            <div class="form-group">
              <input type="number" step="0.01" class="form-control" id="max_price" name="max_price" placeholder="Max" oninput="validateQuantity(this)">
            </div>
          </div>
          <div class="review" style="display: none; justify-content: center; gap: 10px; padding-top: 10px;">
            <div class="base-stars" data-rating="0">
                <i class="fa-solid fa-star" id="base-star" data-value="1"></i>
                <i class="fa-solid fa-star" id="base-star" data-value="2"></i>
                <i class="fa-solid fa-star" id="base-star" data-value="3"></i>
                <i class="fa-solid fa-star" id="base-star" data-value="4"></i>
                <i class="fa-solid fa-star" id="base-star" data-value="5"></i>
            </div>
          </div>
          <input type="hidden" name="score" id="rating" value="0">
        </form>
        </div>
      <!-- <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" alt="cart" width="90" height="90"></a>

      <span id="quantity"></span> -->
      <div style="position: relative; display: inline-block;">
        <a href="{% url 'cart' %}">
            <img src="{% static 'images/cart.png' %}" alt="cart" width="90" height="90">
        </a>
    
        <span id="quantity" style="position: absolute; top: 0; right: 0; background-color: #031924; color: white; padding: 4px 8px; border-radius: 50%;">{{ cantidad_carrito }}</span>
      </div>
    </div>
    <div class="lateral">
      <div class="collapse navbar-collapse js-navbar-collapse">
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="dropdown dropdown-large">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"
                  aria-hidden="true"></span> Bienvenido, {{ user.full_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'profile' %}"><i class="icon-cog"></i> <span class="	glyphicon glyphicon-cog"
                      aria-hidden="true"></span> Perfil</a></li>
                <li><a href="{% url 'user_orders' %}"><i class="fas fa-shopping-bag"></i> Mis Pedidos</a></li>
                
                {% if user.is_superuser %}
                <li><a href="/administrate"><i class="fa-solid fa-user-tie"></i> Administrar</a></li>
                {% endif %}
                
                <li class="divider"></li>
                <form id="logoutForm" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" style="margin-left: 15px;" class="sin-estilo">
                    <i class="icon-off"></i>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Cerrar sesión
                  </button>
                </form>                
              </ul>
            </li>
          </ul>
        {% else %}
          {% block estilo-inicio %}
          {% endblock %}
          <div class="inicio-sesion">
            <a href="{% url 'login' %}" class="btn btn-primary inline-btn btn-primary-inicio">Iniciar Sesión</a>
            <a href="{% url 'register' %}" class="btn btn-primary inline-btn btn-primary-inicio">Registrarse</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block categories %}
  {% endblock %}
  <div class="container">
    <h2 class="card-title">
      {% block title %}
      {% endblock %}
    </h2>
  </div>
   {% if messages %}
      {% for message in messages %}
          {% if message.tags == "error" %}
              <div class="container alert alert-danger">
                  <a class="close" href="#" data-dismiss="alert">x</a>
                  {{ message }}
              </div>
          {% endif %}
          {% if message.tags == "success" %}
              <div class="container alert alert-success">
                  <a class="close" href="#" data-dismiss="alert">x</a>
                  {{ message }}
              </div>
          {% endif %}
          {% if message.tags == "info" %}
              <div class="container alert alert-info">
                  <a class="close" href="#" data-dismiss="alert">x</a>
                  {{ message }}
              </div>
          {% endif %}

      {% endfor %}
  {% endif %}
  {% block content %}
  {% endblock %}
  <footer class="footer container">
    <div class="container-footer">
      <div class="row">
        <div class="footer-col">
          <h4>Motos Para Todos</h4>
          <ul>
            <li><p><strong>Correo: </strong>motosparatodos@outlook.es<p></li>
            <li><p><strong>Dirección: </strong>Avenida de la Imaginación, 45, Vejer, España</p></li>
            <li><p><strong>Teléfono:  </strong>+34 91 234 5678</p></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>ayuda</h4>
          <ul>
            <li><a href="{% url 'envios' %}">envíos</a></li>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <li><a href="{% url 'view_claims' %}">reclamaciones</a></li>
              {% else %}
                <li><a href="{% url 'user_view_claims' %}">reclamaciones</a></li>
              {% endif %}
            {% endif %}

            <li><a href="{% url 'pagos' %}">opciones de pago</a></li>
            <li><a href="{% url 'check_order_status' %}">seguimiento de pedidos</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>síguenos</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-icon">
            <a href="{% url 'initial' %}"><img src="{% static 'images/icon.png' %}" alt="logo" width="140" height="140"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

<script>
  var quantity = [];
  {% for cart, quantity in request.session.cart.items %}
    quantity.push({{ quantity }});
  {% endfor %}

  // Función para sumar los elementos de la lista
  function sumarLista(lista) {
      var suma = 0;
      for (var i = 0; i < lista.length; i++) {
          suma += lista[i];
      }
      return suma;
  }

  // Mostrar la suma dentro de la etiqueta <span> con id "quantity"
  var spanElement = document.getElementById("quantity");
  if (spanElement) {
      spanElement.innerHTML = sumarLista(quantity);
  }
</script>

</html>