{% extends 'base.html' %}

{% block categories %}

{% load static %}
<main class="container categories">
  <nav>
    <ul>
      <li>
        <a href="{% url 'motorcycles' %}">
          <div class="categoria-img">
            <img src="{% static 'images/motos.png' %}" alt="logo" width="60" height="60">
          </div>
          <h4>Motocicletas</h4>
        </a>
      </li>
      <li>
        <a href="."><img src="{% static 'images/parts.png' %}" alt="parts" width="60" height="60">
          <h4>Partes</h4>
        </a>
      </li>
      <li>
        <a href="."><img src="{% static 'images/brands.png' %}" alt="brands" width="60" height="60">
          <h4>Fabricantes</h4>
        </a>
      </li>
    </ul>
  </nav>
</main>

{% endblock %}