{% extends 'base.html' %}


{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/cart.css' %}">
{% endblock %}

{% block title %}Finalizar compra{% endblock %}

{% block content %}

{% for message in messages %}
    
<div class="container alert alert-danger">
    <a class="close" href="#" data-dismiss="alert">x</a>
       {{ message }}
</div>

{% endfor %}

  <div class="container">
    <form method="post" action="{% url 'checkout' %}">
      {% csrf_token %}
    <div>
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Producto</th>
                    <th style="width:10%">Precio</th>
                    <th style="width:8%">Cantidad</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for moto, datos in motos.items %}
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="img-cart"><img src="{{ moto.photo }}" alt="..." 
                                        class="img-responsive" /></div>
                                <div class="cart-product col-sm-10">
                                    <h4 class="nomargin" style="font-weight: bold;">{{ moto }}</h4>
                                    <div>
                                        <strong style="display: inline;">Categoria:</strong>
                                        <p style="display: inline;"> Motocicleta - {{ moto.category}}</p>
                                    </div>
                                    {% for manufacturer in manufacturers %}
                                        {% if manufacturer.id == moto.manufacturer_id %}
                                            <strong style="display: inline;">Fabricante:</strong>
                                            <p style="display: inline;"> {{ manufacturer.name}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{ moto.price }}  €</td>
                        <td data-th="Quantity">
                            {{ datos.quantity }}
                        </td>
                        <td data-th="Subtotal" class="text-center">{{ datos.price }}  €</td>
                    </tr>
                {% endfor %}
                {% for part, datos in parts.items %}
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="img-cart"><img src="{{ part.photo}}" alt="..."
                                        class="img-responsive" /></div>
                                <div class="cart-product col-sm-10">
                                    <h4 class="nomargin" style="font-weight: bold;">{{ part }}</h4>
                                    <div>
                                        <strong style="display: inline;">Categoria:</strong>
                                        <p style="display: inline;"> Parte - {{ part.category}}</p>
                                    </div>
                                    {% for manufacturer in manufacturers %}
                                        {% if manufacturer.id == part.manufacturer_id %}
                                            <strong style="display: inline;">Fabricante:</strong>
                                            <p style="display: inline;"> {{ manufacturer.name}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{ part.price }} €</td>
                        <td data-th="Quantity">
                            {{ datos.quantity }}
                        </td>
                        <td data-th="Subtotal" class="text-center">{{ datos.price }}  €</td>
                    </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    {% if precio < 30 %}
                    <tr>
                        <td>Gastos de Envío</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">5.00 €</td>
                    </tr>
                    {% endif %}
                </tr>
                <tr class="visible-xs">
                    <td class="text-center"><strong>Total {{ precio }} €</strong></td>
                </tr>
                <tr>
                    <td><a href="{% url 'initial' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuar comprando</a></td>
                    <td colspan="2" class="hidden-xs" style="text-align: center;">
                        
                    </td>
                    <td class="hidden-xs text-center"><strong>Total 
                        {{ precio }} €</strong></td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="payment_method">Método de pago:</label>
                    <select class="form-control" name="payment_method" id="payment_method">
                        <option value="Contrarrembolso">Contrarrembolso</option>
                        <option value="Tarjeta">Tarjeta</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="shipment">Método de envio:</label>
                    <select class="form-control" name="shipment" id="shipment">
                        <option value="Recogida">Recogida</option>
                        <option value="Envío a domicilio">Envio a domicilio</option>
                    </select>
                </div>

                
                {% if request.user.is_authenticated %}
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input class="form-control" type="email" name="email" value="{{ request.user.email }}" required>
                    </div>
                    <div class="form-group">
                        <label for="full_name">Nombre:</label>
                        <input class="form-control" type="text" name="full_name" value="{{ request.user.full_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Número de Teléfono:</label>
                        <input class="form-control" type="tel" name="phone" value="{{ request.user.phone }}" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Ciudad:</label>
                        <input class="form-control" type="text" name="city" required>
                    </div>
                    <div class="form-group">
                        <label for="postal_code">Código postal:</label>
                        <input class="form-control" type="text" name="postal_code" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección:</label>
                        <input class="form-control" type="text" name="address" value="{{ request.user.address }}" required>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input class="form-control" type="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="full_name">Nombre:</label>
                        <input class="form-control" type="text" name="full_name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Número de Teléfono:</label>
                        <input class="form-control" type="tel" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Ciudad:</label>
                        <input class="form-control" type="text" name="city" required>
                    </div>
                    <div class="form-group">
                        <label for="postal_code">Código postal:</label>
                        <input class="form-control" type="text" name="postal_code" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección:</label>
                        <input class="form-control" type="text" name="address" required>
                    </div>

                {% endif %}
                <button type="submit" class="btn btn-primary">Finalizar Compra</button>
    
            </div>   
        </div>
    </div>
      
    </form>
  </div>
{% endblock %}