{% extends 'base.html' %}


{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/cart.css' %}">
{% endblock %}

{% block title %}Información sobre los envios{% endblock %}

{% block content %}

<div class="container">
    <div style="padding: 0px 100px; margin: 10px 0px;">
        <div class="resume-cart info">
            <p style="text-align: justify;">Puede elegir entre <strong>envío a domicilio</strong> o <strong>recoger</strong> el producto en tienda. En caso de optar por el <strong>envío a domicilio</strong>, si el pedido es superior a 30€, se anularán los gastos de envío y por lo tanto el transporte sería <strong>complementamente gratuito</strong>. En caso de que el pedido no supere los 30€, el coste de envío será de 5€. Si, por el contrario, decide por <strong>recoger</strong> el producto en tienda, no se le cobrará ningún coste adicional.</p>
            <p style="text-align: justify;">Es importante destacar que <strong>no realizamos devoluciones.</strong></p>

            <img src="{% static 'images/camion.png' %}" alt="Imagen 1" class="imagen">
        </div>
    </div>
</div>
{% endblock %}
