<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motos Para Todos</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- SCRIPT BUSCADOR -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- SCRIPT NAVBAR -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- ESTILOS FOOTER -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- ESTILOS NAVBAR -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- ESTILOS NUESTROS -->
    <link type="text/css" rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'styles/storefront.css' %}" />
</head>


<body>
    <nav class="navbar">
        <div class="lateral">
        </div>
        <div class="navbar container">
            <a href="/"><img src="{% static 'images/icon.png' %}" alt="logo" width="90" height="90"></a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form method="get" action="{% url 'search' %}">
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                        <span id="search_concept">Todos</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" data-value="motorcycles">Motocicletas</a></li>
                                        <li><a href="#" data-value="parts">Partes</a></li>
                                        <li><a href="#" data-value="manufacturers">Fabricantes</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" data-value="all">Todos</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" name="search_type" value="all" id="search_type">
                                <input type="text" class="form-control" name="query" placeholder="Buscar productos">

                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span
                                            class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="/cart"><img src="{% static 'images/cart.png' %}" alt="cart" width="90" height="90"></a>
        </div>
        <div class="lateral">
            <div class="collapse navbar-collapse js-navbar-collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-large">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-user" aria-hidden="true"></span> Bienvenido, {{
                            user.full_name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/users/profile"><i class="icon-cog"></i> <span class="	glyphicon glyphicon-cog"
                                        aria-hidden="true"></span> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="/users/logout"><i class="icon-off"></i><span class="	glyphicon glyphicon-off"
                                        aria-hidden="true"></span> Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <div>
                    <a href="/users/login" class="btn btn-primary inline-btn">Iniciar Sesión</a>
                    <a href="/users/register" class="btn btn-primary inline-btn">Registrarse</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block categories %}
    {% endblock %}
    <div class="container">
        <h2 class="card-title">
            {% block title %}Búsqueda{% endblock %}
        </h2>
    </div>
    <div class="container">
        <div class="item">
            <div class="row">
                {% if not results %}
                <h3>No se encontraron resultados</h3>
                {% endif %}
                {% for result in results %}
                <div class="col-md-3">
                    <div class="item-container">
                        <div class="col-item">
                            <div class="photo">
                                <img src="{{ result.photo }}" class="img-responsive" alt="a" />
                            </div>
                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-6">
                                        <h5>{{ result.name }}</h5>
                                    </div>
                                    <div class="rating hidden-sm col-md-6">
                                        <i class="price-text-color fa fa-star"></i><i
                                            class="price-text-color fa fa-star">
                                        </i><i class="price-text-color fa fa-star"></i><i
                                            class="price-text-color fa fa-star">
                                        </i><i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="separator clear-left">
                                    <p class="btn-add">
                                        <i class="fa fa-shopping-cart"></i><a href="" class="hidden-sm">Añadir al
                                            carrito</a>
                                    </p>
                                    <p class="btn-details">
                                        <i class="fa fa-list"></i><a href="" class="hidden-sm">Más detalles</a>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer class="footer container">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>compañia</h4>
                    <ul>
                        <li><a href="#">sobre nosotros</a></li>
                        <li><a href="#">nuestros servicios</a></li>
                        <li><a href="#">políticas de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ayuda</h4>
                    <ul>
                        <li><a href="#">envíos</a></li>
                        <li><a href="#">reclamaciones</a></li>
                        <li><a href="#">opciones de pago</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <div class="footer-icon">
                        <a href="/"><img src="{% static 'images/icon.png' %}" alt="logo" width="140" height="140"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
<script>
    $(document).ready(function () {
        $('.dropdown-menu a').click(function () {
            var value = $(this).data('value');
            $('#search_concept').text($(this).text());
            $('#search_type').val(value);
        });
    });
</script>