:root {
  --antique-brass-50: #faf7f3;
  --antique-brass-100: #f6eade;
  --antique-brass-200: #ecd3bc;
  --antique-brass-300: #dfb492;
  --antique-brass-400: #d18e64;  /* ESTE ES EL DEL LOGO */
  --antique-brass-500: #c87447;
  --antique-brass-600: #ba5f3c;
  --antique-brass-700: #9a4b34;
  --antique-brass-800: #7c3e30;
  --antique-brass-900: #653429;
  --antique-brass-950: #361914;  
    --black-pearl-50: #ebfeff;
    --black-pearl-100: #cdf9ff;
    --black-pearl-200: #a2f0ff;
    --black-pearl-300: #62e4fe;
    --black-pearl-400: #1bcdf5;
    --black-pearl-500: #00b0db;
    --black-pearl-600: #028cb8;
    --black-pearl-700: #097095;
    --black-pearl-800: #125b78;
    --black-pearl-900: #134b66;
    --black-pearl-950: #031924;  /* ESTE ES EL DEL LOGO */
    --logob: #223843;
    --logow: #fbf4ef;
    --logon: #d18e64;
    --logor: #991818;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}


body{
    background-color: whitesmoke;
}

/* Header */

.navbar {
    background-color: var(--antique-brass-600);
    width: 100%;
    height: 110px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.footer-col ul li p {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: var(--black-pearl-50);
    display: block;
}

.categories {
    background-color: var(--antique-brass-200);
    width: 100%;
    height: 110px;
}

.categories ul{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.categories ul li{
    list-style: none;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

a {
  color: var(--black-pearl-950);
  font-weight: bold;
  text-decoration: none;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: var(--antique-brass-200);
  border-color: #428bca;
}

.nav>li>a:hover,.nav>li>a:focus {
  text-decoration: none;
  color: var(--black-pearl-950);
  background-color: var(--antique-brass-200);
}

.categories ul li a{
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  text-align: center;
}

.categories ul li h4{
  font-size: 22px;
}

.categories ul li a{
    text-align: center;
    text-decoration: none;
}

.categories ul li a:hover{
    color:white;
}

/* BUSCADOR */
.container-fluid {
    width: 1000px;
    text-align: center;
}

.base-stars i{
  cursor: pointer;
  transition: color 0.2s ease;
}

.base-stars i.active {
  color: #ffc700;
}

.rate {
  float: left;
  padding: 0 10px 0 0;
}

.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color:#ccc;
margin-bottom: 0;
line-height: 21px;
}

.rate:not(:checked) > label:before {
  content: '\2605';
}

.rate > input:checked ~ label {
  color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.glyphicon-star {
  color: #ffc700;
}

.glyphicon-star grey {
  color: black;
}

/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container-footer{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.col-xs-8 {
  width: 70%;
  margin: auto;
}

ul{
  list-style: none;
}
.footer{
  background-color: var(--antique-brass-600);
  padding: 20px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   text-align: center;
}
.footer-col h4{
  font-size: 22px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:20%;
  bottom: -10px;
  background-color: var(--black-pearl-950);
  height: 2px;
  box-sizing: border-box;
  width: 150px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: var(--black-pearl-50);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: white;
  font-weight:bold;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    }
}

.footer-icon { /* Centrar el div horizontalmente */
    justify-content: center;
    display: flex; 
    align-items: center;
    height: 100%;
}

.cart-profile{
  display: flex;
  color: white
}

.container {
  max-width: 1170px;
  margin:10px auto;
  border-radius: 7px;
  text-justify: center;
  padding-right: 15px;
  padding-left: 15px;
  flex:1;
}

.lateral {
  flex: 1;
  max-width: calc((100% - 1200px) / 2); /* Calcula el ancho máximo de las columnas laterales */
  box-sizing: border-box;
  padding: 10px; /* Ajusta el espaciado interno según tus necesidades */
}

.btn-primary {
  color: #fff;
  background-color: var(--black-pearl-950);
  border-color: var(--black-pearl-700);
}

.inline-btn {
  display: inline-block;
}

.submit {
  width: 100%;
  margin: auto;
  text-align: center ;
  align-items: center;
}

.inicio-sesion {
  justify-content: center;
  align-items: center;
}

.sin-estilo {
  color: #2a6496;
  text-decoration: underline; 
  border: none;
  outline: none; 
  color: var(--black-pearl-950);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.sin-estilo:hover {
  color: #2a6496;
  text-decoration: underline; 
}

.card {
  padding: 0px 100px
}

.button-center {
  text-align: center;
}

.card-login {
  padding: 0px 250px
}

.card-title {
  text-align: center;
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0.5px;
  }
}