{% extends 'base.html' %}

{% block title %}Mis Reclamaciones{% endblock %}

{% block content %}
  <div class="container">
    
   {% if user.is_authenticated %}
      <div class="button-center">
        <a href="{% url 'create_claim' %}" class="btn btn-success mb-4">Añadir Reclamación</a>
      </div>
    {% endif %}
    
    {% if claims %}
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Título</th>
          </tr>
        </thead>
        <tbody>
          {% for claim, fecha in claims.items %}
            <tr>
              <td>{{ fecha.date }}</td>
              <td>{{ claim.title }}</td>
              <td>
                <p class="btn-details">
                  <i class="fa fa-list"></i>
                  <a href="{% url 'user_view_claim' claim.id %}" class="hidden-sm">Más detalles</a></p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center">No hay reclamaciones.</p>
    {% endif %}
  </div>
{% endblock %}
