{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="text-center mb-4">Detalles de la Reclamación</h2>
    
    <h3>ID: {{ claim.id }}</h3>
    <p><strong>Autor:</strong> {{ claim.author }}</p>
    <p><strong>Fecha:</strong> {{ claim.date }}</p>
    <p><strong>Descripción:</strong> {{ claim.description }}</p>
    
    {% if claim.response %}
      <p><strong>Respuesta:</strong> {{ claim.response }}</p>
    {% endif %}
    
    <a href="{% url 'user_view_claims' %}" class="btn btn-primary">Volver a la lista de reclamaciones</a>
  </div>
{% endblock %}
