{% extends 'base.html' %}

{% block title %}Panel de Administrador{% endblock %}

{% block content %}

  <div class="container button-center">
    <div class="admin-row">
      <a href="/administrate/orders" class="btn btn-info ribbon">Administrar pedidos</a>
    </div>

    <div class="admin-row">
      <a href="/claim/view_claims" class="btn btn-info ribbon">Administrar reclamaciones</a>
    </div>

    <div class="admin-row">
      <a href="/administrate/sells" class="btn btn-info ribbon">Información sobre las ventas</a>
    </div>

    <div class="admin-row">
        <a href="/administrate/users" class="btn btn-info ribbon">Administrar clientes</a>
    </div>

    <div class="admin-row">
        <a href="/administrate/products" class="btn btn-info ribbon">Administrar productos</a>
    </div>
  </div>
{% endblock %}
