{% extends 'base.html' %}


{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/cart.css' %}">
{% endblock %}

{% block title %}Información sobre las ventas{% endblock %}

{% block content %}

<div class="container">
        {% csrf_token %}
        <div style="padding: 0px 100px; margin: 10px 0px;">
            <div class="resume-cart">

                <h3><strong>Producto más vendido:</strong>{% if producto_mas_vendido %} {{ producto_mas_vendido }} {% else %}  No hay información suficiente. {% endif %}</h3>
                <h3><strong>Media de precios de productos vendidos:</strong>{% if producto_mas_vendido %} {{ media_precios }} {% else %}  No hay información suficiente. {% endif %}  €</h3>
                <h3><strong>Tipo de producto preferido:</strong>{% if producto_mas_vendido %} {{ tipo_producto_preferido }} {% else %}  No hay información suficiente. {% endif %} </h3>
                <h3><strong>Fabricante preferido:</strong>{% if producto_mas_vendido %}  {{ fabricante_preferido }} {% else %}  No hay información suficiente. {% endif %}</h3>
                <h3><strong>Tipo de envío preferido:</strong>{% if producto_mas_vendido %} {{ tipo_envio_preferido }} {% else %}  No hay información suficiente. {% endif %} </h3>
                <h3><strong>Ciudad con más ventas:</strong>{% if producto_mas_vendido %} {{ ciudad_mas_ventas }} {% else %}  No hay información suficiente. {% endif %} </h3>
                <h3><strong>Forma de pago preferida:</strong>{% if producto_mas_vendido %} {{ forma_pago_preferida }} {% else %}  No hay información suficiente. {% endif %} </h3>
                <h3><strong>Cliente más activo:</strong>{% if producto_mas_vendido %} {{ cliente_mas_activo }} {% else %}  No hay información suficiente. {% endif %} </h3>


                <div class="button-center" style="margin-top: 4px;">
                    <h3><strong>Gráficas</strong></h3>
                    <button class="btn btn-primary" onclick="toggleVentasPorProducto()">Ventas por producto</button>
                    <button class="btn btn-primary" onclick="toggleVentasPorTipo()">Ventas por tipo de producto</button>
                    <button class="btn btn-primary" onclick="togglePedidosPorEstado()">Número de pedidos por estado</button>
                </div>

                <div class="plots" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 20px;">
                    <img class="ventas_por_producto" src="../../static/images/ventas_por_producto.png" width="420px" height="300px" alt="Gráfica de Ventas por Producto" style="display: none; margin-top: 20px;">
                    <img class="ventas_por_tipo" src="../../static/images/ventas_por_tipo.png" width="420px" height="300px" alt="Gráfica de Ventas por Tipo" style="display: none; margin-top: 20px;">
                    <img class="pedidos_por_estado" src="../../static/images/pedidos_por_estado.png" width="420px" height="300px" alt="Gráfica de Pedidos por Estado" style="display: none; margin-top: 20px;">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function toggleVentasPorProducto() {
        var x = document.getElementsByClassName("ventas_por_producto")[0];
        var y = document.getElementsByClassName("ventas_por_tipo")[0];
        var z = document.getElementsByClassName("pedidos_por_estado")[0];
        if (x.style.display === "none") {
            x.style.display = "flex";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none"
        }
    }

    function toggleVentasPorTipo() {
        var x = document.getElementsByClassName("ventas_por_tipo")[0];
        var y = document.getElementsByClassName("ventas_por_producto")[0];
        var z = document.getElementsByClassName("pedidos_por_estado")[0];
        if (x.style.display === "none") {
            x.style.display = "flex";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none"
        }
    }

    function togglePedidosPorEstado() {
        var x = document.getElementsByClassName("pedidos_por_estado")[0];
        var y = document.getElementsByClassName("ventas_por_producto")[0];
        var z = document.getElementsByClassName("ventas_por_tipo")[0];
        if (x.style.display === "none") {
            x.style.display = "flex";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none"
        }
    }
</script>
{% endblock %}