{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
        <a href="/administrate/orders" class="btn btn-primary">Administrar pedidos</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <a href="/claim/view_claims" class="btn btn-primary">Administrar reclamaciones</a>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
      <a href="/administrate/sells" class="btn btn-primary">Información sobre las ventas</a>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
        <a href="/administrate/users" class="btn btn-primary">Administrar clientes</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <a href="/administrate/products" class="btn btn-primary">Administrar productos</a>
    </div>
  </div>
{% endblock %}
