{% extends 'base.html' %}

{% block title %}Seguimiento de Pedidos{% endblock %}

{% block content %}

  <div class="container">
    <div class="card">
      <div class="card-login">
        <form method="post" action="{% url 'check_order_status' %}" class="mb-3">
          {% csrf_token %}
          <div class="form-group">
            <label for="order_id">Ingrese el ID del pedido:</label>
            <input type="text" name="order_id" class="form-control" required>
          </div>
          <div class="button-center">
            <button type="submit" class="btn btn-primary">Verificar Estado</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
