{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
        <h2>Listado de Pedidos</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Comprador (Email)</th>
            <th>Precio</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td><a href="{% url 'administrate_order' order.id %}">{{ order.id }}</a></td>
              <td>{{ order.buyer_mail }}</td>
              <td>{{ order.price }}</td>
              <td>{{ order.state }}</td>
              <td><a href="{% url 'administrate_order' order.id %}" class="hidden-sm">Más detalles</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination-container text-center mt-4">
        <ul class="pagination">
            {% if orders.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
    
            <li class="page-item disabled">
                <span class="page-link">
                    Página {{ orders.number }} de {{ orders.paginator.num_pages }}.
                </span>
            </li>
    
            {% if orders.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.next_page_number }}">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.paginator.num_pages }}">Última &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
  </div>
{% endblock %}
