{% extends 'base.html' %}

{% block title %}Añadir nueva motocicleta{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Nombre del producto:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="imagen">URL de la imagen:</label>
                        <input type="url" class="form-control" id="imagen" name="imagen" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Categoria de la moto:</label>
                        <select class="form-control" name="category" id="category">
                            <option value="Turismo">Turismo</option>
                            <option value="Deportivo">Deportivo</option>
                            <option value="Naked">Naked</option>
                            <option value="Custom">Custom</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="stock">Cantidad de Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock">
                    </div>
                    <div class="form-group">
                        <label for="price">Precio:</label>
                        <input type="price" class="form-control" id="price" name="price" pattern="\d+(\.\d{2})?" title="El precio debe ser del estilo '19.99'">
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Fabricante:</label>
                        <select class="form-control" name="manufacturer" id="manufacturer" required>
                            <option value="" selected disabled>Selecciona un fabricante</option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="carroceria">Carrocería por defecto de la moto:</label>
                        {% for part in carrocerias %}
                            <div class="form-check" style="display:flex; flex-direction: row; flex-grow: 4;">
                                <input class="form-check-input" type="radio" name="carroceria" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                   
                    <div class="form-group">
                        <label for="carroceriac">Carrocerías compatibles:</label>
                        {% for part in carrocerias %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="carroceriac" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="motor">Motor por defecto de la moto:</label>
                        {% for part in motores %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="motor" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="motorc">Motores compatibles:</label>
                        {% for part in motores %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="motorc" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="transmision">Transmisión por defecto de la moto:</label>
                        {% for part in transmisiones %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="transmision" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="transmisionc">Transmisiones compatibles:</label>
                        {% for part in transmisiones %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="transmisionc" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="suspension">Suspensión por defecto de la moto:</label>
                        {% for part in suspensiones %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="suspension" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="suspensionc">Suspensiones compatibles:</label>
                        {% for part in suspensiones %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="suspensionc" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="rueda">Ruedas por defecto de la moto:</label>
                        {% for part in ruedas %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rueda" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="ruedac">Ruedas compatibles:</label>
                        {% for part in ruedas %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="ruedac" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="freno">Frenos por defecto de la moto:</label>
                        {% for part in frenos %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="freno" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="frenoc">Frenos compatibles:</label>
                        {% for part in frenos %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="frenoc" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="manillar">Manillar por defecto de la moto:</label>
                        {% for part in manillares %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="manillar" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="manillarc">Manillares compatibles:</label>
                        {% for part in manillares %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="manillarc" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="combustible">Combustible por defecto de la moto:</label>
                        {% for part in combustibles %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="combustible" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="combustiblec">Combustibles compatibles:</label>
                        {% for part in combustibles %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="combustiblec" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="chasis">Chasis por defecto de la moto:</label>
                        {% for part in chasis %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="chasis" id="part_{{ part.id }}" value="{{ part.id }}" required>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>                    
                    <div class="form-group">
                        <label for="chasisc">Chasis compatibles:</label>
                        {% for part in chasis %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="chasisc" id="part_{{ part.id }}" value="{{ part.id }}" multiple>
                                <label class="form-check-label" for="part_{{ part.id }}">
                                    <img src="{{ part.photo }}" alt="{{ part.name }}" width="100">
                                    {{ part.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <script>
                        function validarFormulario() {
                            var grupos = ['motor', 'motorc', 'transmision', 'transmisionc', 'suspension', 'suspensionc', 'rueda', 'ruedac', 'freno', 'frenoc', 'manillar', 'manillarc', 'combustible', 'combustiblec', 'chasis'];
                    
                            for (var i = 0; i < grupos.length; i++) {
                                var partesSeleccionadas = document.querySelectorAll('input[name="' + grupos[i] + '"]:checked');
                    
                                if (partesSeleccionadas.length === 0) {
                                    alert('Debes seleccionar al menos una parte en la categoría ' + grupos[i] + '.');
                                    return false;
                                }
                            }
                    
                            return true;
                        }
                    </script>
                    
                    <button type="submit" class="btn btn-primary">Añadir Motocicleta</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}